<?xml version="1.0"?>
<service>
	<mapper>
		<map sfObject="EnvironmentUser__c" class="com.customcheckin.service.salesforce.vo.EnvironmentUserVO" />
		<map sfObject="Environment__c" class="com.customcheckin.service.salesforce.vo.EnvironmentVO" />
		<map sfObject="User" class="com.customcheckin.service.salesforce.vo.UserVO" />
		<map sfObject="Project__c" class="com.customcheckin.service.salesforce.vo.ProjectVO" />
	</mapper>
</service>   